name: CI

concurrency:
  group: "ci"
  cancel-in-progress: false

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]

jobs:
  tests:
    if: github.event.pull_request.draft == false
    name: tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        test: ["pytest", "fmt", "mypy", "flake-check", "coverage"]
    steps:
    - uses: cachix/install-nix-action@a41eb7ceea97962224a9cc9b217ca915f8de2dfd # v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Test ${{ matrix.test }}
      run: nix develop . --command just ${{ matrix.test }}

    - name: Coverage comment
      if: matrix.test == 'coverage'
      uses: py-cov-action/python-coverage-comment-action@e623398c19eb3853a5572d4a516e10b15b5cefbc # v3.39
      with:
        GITHUB_TOKEN: ${{ github.token }}
