name: CI

concurrency:
  group: "ci"
  cancel-in-progress: false

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]

jobs:
  tests:
    if: github.event.pull_request.draft == false
    name: tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        test: ["pytest", "fmt", "mypy", "flake-check", "coverage"]
    steps:
    - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      with:
        diagnostic-endpoint: ""
    # https://determinate.systems/posts/magic-nix-cache-free-tier-eol/
    #- uses: DeterminateSystems/magic-nix-cache-action@v8
    #  with:
    #    diagnostic-endpoint: ""
    - name: Check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

    - name: Test ${{ matrix.test }}
      run: nix develop . --command task ${{ matrix.test }}

    - name: Coverage comment
      if: matrix.test == 'coverage'
      uses: py-cov-action/python-coverage-comment-action@587892b1198e5e472097653a87e8f1339a251f38 # v3
      with:
        GITHUB_TOKEN: ${{ github.token }}
