name: IMAGE

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'lotb/**'
  pull_request:
    paths:
      - 'lotb/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: cachix/install-nix-action@a41eb7ceea97962224a9cc9b217ca915f8de2dfd # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Ovverride version if needed
        run: |
          if [ "${GITHUB_EVENT_NAME}" == "release" ]; then
            TAG_NAME="${GITHUB_REF#refs/tags/}"
            echo "OVERRIDE_VERSION=${TAG_NAME}" >> $GITHUB_ENV
          else
            echo "OVERRIDE_VERSION=0.0.0-dev" >> $GITHUB_ENV
          fi
      - name: build image
        run: nix develop . --command just docker-build
      - name: push image
        if: github.event_name != 'pull_request'
        run: nix develop . --command just docker-push
