name: IMAGE

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'lotb/**'
  pull_request:
    paths:
      - 'lotb/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: DeterminateSystems/nix-installer-action@90bb610b90bf290cad97484ba341453bd1cbefea # v19
        with:
          diagnostic-endpoint: ""
      # https://determinate.systems/posts/magic-nix-cache-free-tier-eol/
      #- uses: DeterminateSystems/magic-nix-cache-action@v8
      #  with:
      #    diagnostic-endpoint: ""
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Ovverride version if needed
        run: |
          if [ "${GITHUB_EVENT_NAME}" == "release" ]; then
            TAG_NAME="${GITHUB_REF#refs/tags/}"
            echo "OVERRIDE_VERSION=${TAG_NAME}" >> $GITHUB_ENV
          else
            echo "OVERRIDE_VERSION=0.0.0-dev" >> $GITHUB_ENV
          fi
      - name: build image
        run: nix develop . --command task docker-build
      - name: push image
        if: github.event_name != 'pull_request'
        run: nix develop . --command task docker-push
